[Desktop Entry]
Name=Plasma 5 Genial
Icon=applications-multimedia

Type=Service
X-KDE-ServiceTypes=Plasma/Applet
X-KDE-PluginInfo-Author=Nathan Bombana
X-KDE-PluginInfo-Category=Multimedia
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=nathan.pbombana@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL-3.0+
X-KDE-PluginInfo-Name=dev.nathanpb.plasmagenial
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://plasmagenial.nathanpb.dev
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-NotificationAreaCategory=ApplicationStatus
X-Plasma-Provides=org.kde.plasma.multimediacontrols
X-Plasma-DBusActivationService=org.mpris.MediaPlayer2.*
